
<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="style.css"> -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/youSee/youSeeClient.js"></script>
	<!-- // <script src="/js/gAnalytics.js"></script> -->
</head>
<body>
		<input id="urlInput"></input>
		<button id="loadVideo">Load Youtube video 1</button>
		<div id="ytapiplayer"></div>
</body>
</html>