<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/write/write.js"></script>
	</head>
	<body>
		Helloo worldd!
		<div id="containWords"></div>
		<input type="text" id="sentence"></input>
		<button id="send">Send sentence</button>
		<div id="showStory"></div>
	</body>

</html>