<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/beat/beatStyle.css"/>
</head>
<body>
	 	<div class="play" id="box1">
			<audio>
				<source src="audio/A06.mp3" preload="auto" type="audio/mpeg"></source>
			</audio>
		</div>
		<div class="play" id="box2">
			<audio>
				<source src="audio/B06.mp3" preload="auto"></source>
			</audio>
		</div>
		<div class="play" id="box3">
			<audio>
				<source src="audio/C06.mp3" preload="auto"></source>
			</audio>
		</div>

		<div class="play" id="box4">
			<audio>
				<source src="audio/D06.mp3" preload="auto"></source>
			</audio>
		</div>

		<div class="play" id="box5">
			<audio>
				<source src="audio/E06.mp3" preload="auto"></source>
			</audio>
		</div>

		<div class="play" id="box6">
			<audio>
				<source src="audio/F06.mp3" preload="auto"></source>
			</audio>
		</div>

		<div class="play" id="box7">
			<audio>
				<source src="audio/G06.mp3" preload="auto"></source>
			</audio>
		</div>

		<div class="play" id="box8">
			<audio>
				<source src="audio/H06.mp3" preload="auto"></source>
			</audio>
		</div>

	<script src="/bower_components/jquery/jquery.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/beat/beatClient.js"></script>
	<!-- <script src="/js/gAnalytics.js"></script>   -->
</body>
</html>
