body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0 8ppx 8px 8px;
}
.nav {
	float: right;
	display: block;
	width:100%;
	margin: -2em 0 3em 0;
	padding:0;
}
.nav li {
	float: right;
	list-style: none;
	border-radius: 1px  solid #ccc;
	font-size: 1.5em;
}
.nav li a {
	display: block;
	padding: 0px 15px;
	text-decoration: none;
}
.nav li a:hover {
	background-color: #fff;
}
section {
	margin: 50px;
	width: 100%;
	border-radius:10px;
}
h1 {
	color:#04859D;
	font-size: 48px;
	text-align: center;
}
.top {
	text-align: center;
}
body a {
	color:#DEB395;
	text-decoration: none;
}
body a:hover {
	color:#FFCEAC;
	background-color: #fff;
}
.everyday {
	color: #206876;
}

