<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/pictionary/pictionaryStyle.css">
</head>
<body>
	<div class="jumbotron text-center">
		<div>Pictionary</div>
	</div>

	<ng-view></ng-view>


	<script src="/js/socket.io.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/js/vote/d3module.js"></script>
	<script src="/js/pictionary/app.js"></script>
	<script src="/js/pictionary/services.js"></script>
	<script src="/js/pictionary/directives.js"></script>
	<script src="/js/pictionary/controllers.js"></script>
	<!-- <script src="/js/gAnalytics.js"></script> -->
</body>
</html>