<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/twitter/twitterStyle.css">
	<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
	<link rel="stylesheet" href="/css/leaflet.awesome-markers.css">
	<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?"></script>
	<script src="/js/leaflet.awesome-markers.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/twitter/twitterClient.js"></script>
	<!--<script src="/js/gAnalytics.js"></script> -->
</head>
<body>
	<span id="happyCount"></span>
	<span id="sadCount"></span>
	<div id="map"></div>
</body>
</html>