<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/ticTac/ticTacStyle.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/ticTac/ticTacClient.js"></script>
	<!-- <script src="/js/gAnalytics.js"></script>  -->
</head>
<body>
	<button id="emitToRoom">Emit</button>
	<div>
		<button class="spot" id="button1">1</button>
		<button class="spot" id="button2">2</button>
		<button class="spot" id="button3">3</button>
	</div>
	<div>
		<button class="spot" id="button4">4</button>
		<button class="spot" id="button5">5</button>
		<button class="spot" id="button6">6</button>
	</div>
	<div>
		<button class="spot" id="button7">7</button>
		<button class="spot" id="button8">8</button>
		<button class="spot" id="button9">9</button>
	</div>
</body>
</html>