<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/ticTac/ticTacStyle.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/tictac/ticTacClient.js"></script>
	<script src="/js/gAnalytics.js"></script> 
</head>
<body>
	<div class="center" id="title">Tic Tac Toe</div>
	<div class="center" id="instructions">Play Tic Tac Toe!  When another user joins, we will update the status and begin the game.  </div>
	<div id="status">
		<div class="center" id="waitPlay"></div>
		<div class="center" id="announce"></div>
	</div>
	<div id="board" class="center">
		<div>
			<button class="spot" id="button1"></button>
			<button class="spot" id="button2"></button>
			<button class="spot" id="button3"></button>
		</div>
		<div>
			<button class="spot" id="button4"></button>
			<button class="spot" id="button5"></button>
			<button class="spot" id="button6"></button>
		</div>
		<div>
			<button class="spot" id="button7"></button>
			<button class="spot" id="button8"></button>
			<button class="spot" id="button9"></button>
		</div>
	</div>
</body>
</html>