<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/igMap/igMapStyle.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> 
	<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?"></script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
	<link rel="stylesheet" href="/css/leaflet.awesome-markers.css">
	<script src="/js/leaflet.awesome-markers.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/igMap/igMapClient.js"></script>
	<script src="/js/gAnalytics.js"></script>   
</head>
<body>
	<div class="center" id="title">Instagram Maps</div>
	<div class="center" id="instructions">  When you click on the map, a red circle appears.  As soon as someone in that area uploads a photo to Instagram, this website shows you!  Move the red circle around to see what other people in the world are doing!  Please be patient :)</div>
		<div class="center" id="map">
			<div id="loading">Please share your location for this to work :)</div>
		</div>
</body>
</html>