<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/igMap/igMapStyle.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> 
	<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?"></script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
	<link rel="stylesheet" href="/css/leaflet.awesome-markers.css">
	<script src="/js/leaflet.awesome-markers.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/igMap/igMapClient.js"></script>
	<!--<script src="/js/gAnalytics.js"></script>   -->
</head>
<body>
		<button id="pause">Pause</button>
		<button id="resume">Resume</button>
		<button id="addStream">Add Stream</button>
		<input id="latitude">Lat</input>
		<input id="longitude">Lng</input>
		<div id="map" class="inline"></div>
		<div id="imageContainer" class="inline"></div>
</body>
</html>