A GAME IS HAPENING HERE
<button ng-click="choose('rock')">Rock</button>
<button ng-click="choose('paper')">paper</button>
<button ng-click="choose('scissors')">scissors</button>
{{display.status}}
<img ng-show="show.paper" src="/images/rps/paper.png"></img>
<img ng-show="show.scissors" src="/images/rps/scissors.png"></img>
<img ng-show="show.rock" src="/images/rps/rock.png"></img>