<div class="container text-center">
	Room: {{gameRoomObj.room}} 
	<div id="buttonCtrl">
		<button class="btn btn-danger btn-lg" ng-click="choose('rock')">Rock</button>
		<button class="btn btn-info btn-lg" ng-click="choose('paper')">Paper</button>
		<button class="btn btn-success btn-lg" ng-click="choose('scissors')">Scissors</button>
	</div>
	<!-- <div>{{display.status}}</div> -->
	<div status></div>
	<div class="inline">
		<img ng-show="show.paper" src="/images/rps/paper.png"></img>
		<img ng-show="show.scissors" src="/images/rps/scissors.png"></img>
		<img ng-show="show.rock" src="/images/rps/rock.png"></img>
	</div>
	<div class="inline">
		{{display.otherPlayerChoice}}
		<img ng-show="show.otherPaper" src="/images/rps/paper_mirror.png"></img>
		<img ng-show="show.otherScissors" src="/images/rps/scissors_mirror.png"></img>
		<img ng-show="show.otherRock" src="/images/rps/rock_mirror.png"></img>
	</div>
</div>