<div class="text-center">
	<div>
		<img src="/images/rps/rpsCover.png" id="coverPhoto"></img>
	</div>
	<input ng-model="room.name" placeholder="Ask a friend to play!"></input>
	<button ng-click="joinRoom()">Join room</button>
</div>