<!DOCTYPE html>
<html>
<head>
	<title>Pirate's Den</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/js/auth/indexClient.js"></script>
	<link rel="stylesheet" href="/css/auth/authStyle.css">
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><div class="fa fa-flag-o"></div></h1>
		<h1> <span class="fa fa-usd"> Pirate's Den <span class="fa fa-usd"></span></h1>

		<p>Login or Register with:</p>

		<a href="/auth/login" class="btn btn-info"><span class="fa fa-anchor"></span> Board</a>
<<<<<<< HEAD
		
=======
>>>>>>> auth
		<a href="#" id="freePassword" class="btn btn-warning" rel="popover" data-content=" arr@pirate.com / tharsheblows" data-original-title="Username/password:">Guests</a>
	</div>

</div>
</body>
</html>
