<!DOCTYPE html>
<html>
<head>
	<title>Pirate's Den</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/js/auth/profileClient.js"></script>
	<link rel="stylesheet" href="/css/auth/authStyle.css">
</head>
<body>
<div class="container">
	<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
	<div class="jumbotron text-center">
		<h1><div class="fa fa-key"></div> Secret Den For Pirates Only</h1>
		<div id="treasure"><img src="/css/auth/treasure.png"></img><p>Ye discovered treasure.  <br>	Wait... I see something in thar.  Click to find out!</p></div>
		<div id="alc">
		<img id="rum" src="/css/auth/rum.jpg"></img>
		<p>A bottle o' rum!</p>
	</div>
</div>
</body>
</html>