<!DOCTYPE html>
<html>
<head>
	<title>Pirate's Den</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/auth/authStyle.css">
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>Guest Book </h1>

		<p>Login or Register with:</p>

		<a href="/guestbook/login" class="btn btn-info"><span class="fa fa-anchor"></span>Guestbook Login</a>
		
		<a href="#" id="freePassword" class="btn btn-warning" rel="popover" data-content=" arr@pirate.com / tharsheblows" data-original-title="Username/password:">Guests</a>
		<a href="/guestbook/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	</div>

</div>
	<script src="/bower_components/jquery/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/auth/indexClient.js"></script>
</body>
</html>
