<!DOCTYPE html>
<html>
<head>
	<title>Pirate's Den</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/guestBook/guestBookStyle.css">
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1>Guestbook </h1>
		<h3>Hi, <%= user.facebook.name %>!</h3>
	</div>
	<form action="/guestbook/loggedin" method="post">

		<div class="form-horizontal">
			<div class="col-md-6">
				<label>Message</label>
				<input type="text" class="form-control" name="message">
				<button type="submit" class="btn btn-warning">Post</button>
			</div>
		

		</div>
	</form>

	<div class="messageContainer col-md-8 col-md-offset-2">
		<table class="table table-hover">
		<tr><th>Guest</th><th>Message</th></tr>
		<% var reverse = guestPosts.reverse(); %>
		<% for(var i=0; i<reverse.length; i++) {%>
		   <tr><td><%= reverse[i].fbName %></td><td> <%= guestPosts[i].message %></td><tr>
		<% } %>
		</table>
	</div>

</div>
	<script src="/bower_components/jquery/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/auth/indexClient.js"></script>
</body>
</html>
