

<div class="cont">
	<div class="text-center">Room: {{gameRoom}} </div>
	<br>
	<br>
	<div class="row">	
		<div class="col-md-4">
			<!-- set username -->
			<div>
				<button ng-hide="hideInSession" ng-click="requestStartGame()">Start game</button>
				<!-- <input ng-model="user.name" placeholder="user name"></input> -->
				<!-- <button ng-click="setUsername()">Set username</button> -->
			</div>

			<!-- user container -->
			<div id="userContainer">
				<table>
					<th class="text-center">Players</th>
					<tr ng-repeat="user in usersInRoom">
						<td>{{user.name}}</td>
					</tr>
				</table>
			</div>
	
			<!-- chat room -->
			<div id="chatContainer">
				<form class="form control" ng-submit="sendMessage()">
					<input ng-hide="showDraw" class="form-control" ng-model="chatroom.message" placeholder="Type and Press Enter"></input>
					<span class="input-group-btn">
					</span>
				</form>
	
				<div ng-repeat="msg in chatroom.receivedMessages track by $index">
					{{msg.username}}: <span ng-style='{"color": color.current}'>{{msg.message}}</span>
				</div>
			</div>
		</div>
		
		<!-- draw -->
		
		<div class="col-md-6 col-md-offset-1">
			
			<div class="text-center">{{round}}</div>
			<div class="text-center">{{currentWord}}</div>
			<div draw ng-show="showDraw"></div>
			<!-- see someone else draw -->
			<div guess ng-show="showGuess"></div>
		</div>
	</div>
</div>