

<div class="cont">
	<div class="text-center">Room: {{gameRoom}} </div>
	<br>
	<br>
	<div class="row">	
		<div class="col-md-4">
			<!-- set username -->
			<div>
				<button ng-hide="hideInSession" ng-click="requestStartGame()">Start game</button>
				<!-- <input ng-model="user.name" placeholder="user name"></input> -->
				<!-- <button ng-click="setUsername()">Set username</button> -->
			</div>

			<!-- user container -->
			<div id="userContainer">
				<table>
					<th class="text-center">Players</th>
					<tr ng-repeat="user in usersInRoom">
						<td>{{user.name}}</td>
					</tr>
				</table>
			</div>
	
			<!-- chat room -->
			<div id="chatContainer">
				<form class="form control" ng-submit="sendMessage()">
					<input ng-hide="showDraw" class="form-control" ng-model="chatroom.message" placeholder="Type and Press Enter"></input>
					<span class="input-group-btn">
					</span>
				</form>
	
				<div ng-repeat="msg in chatroom.receivedMessages track by $index">
					{{msg.username}}: <span ng-style='{"color": color.current}'>{{msg.message}}</span>
				</div>
			</div>
		</div>
		
		<!-- 	<input colorpicker type="text" placeholder="Click here to choose a color to add!" ng-model="colors" />
			{{colors}} -->
		<!-- draw -->
		
		<div class="col-md-6 col-md-offset-1">
			
			<div class="text-center">{{round}}</div>
			<div class="text-center">{{currentWord}}</div>
			<div draw ng-show="showDraw" colordata="draw.color" sizedata="draw.size" opacitydata="draw.opacity" roomdata="gameRoom">
					<!-- brush or eraser buttons -->
					<div class="btn-group" data-toggle="buttons">
						<button type="button" class="btn btn-default" ng-click="brushOrEraser('brush')">Brush</button>
						<button type="button" class="btn btn-default" ng-click="brushOrEraser('eraser')">Eraser</button>
					</div>
					<!-- colorpicker  -->
					<div ng-model="draw.color" colorpicker ng-style='{"width": "30px", "height": "30px", "background-color": draw.color, "display": "inline-block", "border-radius": "3px", "border": "1px solid #000"}'></div>
					<!-- brush size and opacity  -->
					<input ng-model="draw.size" type="number" min="1" max="20">Size</input>
					<input ng-model="draw.opacity" type="number" min="0.1" max="1">Opacity</input>
					<!-- reset -->
					<button type="button" class="btn btn-danger" ng-click="resetDrawing()">Reset</button>
			</div>
			<!-- see someone else draw -->
			<div guess ng-show="showGuess"></div>
		</div>
	</div>
</div>