MAIN PAGE
<div>
	Join game <input ng-model="preGame.room" placeholder="Room name"></input>
	Player <input ng-model="preGame.username" placeholder="name"></input>
	<button ng-click="joinRoom()">Join</button>
</div>