<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<script>
	if (window.location.hash == '#_=_') {
	    window.location.hash = '';
	}
	</script>
</head>
<body ng-controller="mainCtrl">
	<div class="jumbotron text-center">
		<h2>TwitText</h2>
		<p>Login to <button ng-click="loginOauth()" class="btn btn-primary"><span class="fa fa-twitter"></span> Twitter</button> and it will show you word frequencies of the first 50 tweets on your timeline. </p> <button class="btn btn-alert" ng-show="showLogOut" ng-click="logout()">Log Out</button>
	</div>
	<div class="text-center">
	<!-- <h1>{{hashtagArr}}</h1> -->
	<button class="btn btn-alert" ng-click="logout()">Log Out for cookie testing</button>
	<div ng-repeat="name in hashtagArr track by $index">
		{{name.key}}: {{name.value}}
		<!-- <p ng-style="set_size(name.value)">{{name.key}}</p> -->

		<!-- <p style="{{style}}">{{name.key}}</p> -->
		<!-- <p ng-style="{font-size: 'red'}">{{name.key}}</p> -->
		<!-- <p ng-style="{size: '2em'}">{{name.key}}</p> -->
	</div>
	</div>

	<!-- <div ng-repeat="hash in hashtags track by $index">
		{{hash}}
	</div> -->
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/js/twittext/app.js"></script>
	<script src="/js/twittext/services.js"></script>
	<script src="/js/twittext/controllers.js"></script>
	<!-- <script src="/js/gAnalytics.js"></script>   -->
	<script>
		var state = <%- JSON.stringify(state) %>
		console.log(state)
		var username = <%- JSON.stringify(username) %>
		var hashtags = <%- JSON.stringify(hashtags) %>
		console.log(hashtags)
	</script>
</body>
</html>
