<html>
	<head>
		<link rel="stylesheet" href="/css/hereStyle.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?"></script>
		<script src="/js/socket.io.min.js"></script>
		<script src="/js/here/hereClient.js"></script>
		
		<!-- <script src="/js/gAnalytics.js"></script> -->
	</head>
	<body>
		<div id="title"><h1>Here and There</h1></div>
		<div id="intro">This website shows your location and the ocation of any other visitors viewing this right now.  When anyone leaves, their marker disappears instantly.  </div>
		<div class="app">
			<div id="map">
				<div id="loading">Please share your location for this website to work :)</div>
			</div>
		</div>

	</body>
</html>