svg {
	border: 2px solid #000;
	border-radius: 5px;
}
#chatContainer {
	/*background-color: blue;*/
	height: 200px;
	overflow-y: scroll;
	border: 1px solid grey;
	border-radius: 5px;
}
.cont {
	padding: 20px;

}
#userContainer {
	/*background-color: blue;*/
	height: 180px;
	width: 200px;
	overflow-y: scroll;
	border: 1px solid grey;
	margin-bottom: 15px;
	border-radius: 5px;
}
#gameRoom {

}
#colorPicker {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #000;
	padding-bottom: 0px;
}
