svg {
	border: 2px solid #000
}
#chatContainer {
	/*background-color: blue;*/
	height: 200px;
	overflow-y: scroll;
	border: 1px solid grey;
	border-radius: 5px;
}
.cont {
	padding: 20px;
}
#userContainer {
	/*background-color: blue;*/
	height: 180px;
	width: 200px;
	overflow-y: scroll;
	border: 1px solid grey;
	margin-bottom: 15px;
	border-radius: 5px;
}