body {
	font-family: 'Bad Script', sans-serif;
	font-size: 1em;
}
#title h1 {
	font-size: 3em;
	line-height: 50%;
	color: red;
}
#title a {
	text-decoration: none;
}
#title {
	text-align: center;
}
#compliment {
	margin-top: 3%;
	font-size: 1em;
	text-align: center;
}
#compliment h1 {
	font-size: 5em;
}
#links {
	float: right;
}
#dear {
	font-size: 3em;
	text-align: left;
}
#addArea {
	text-align: center;
}