.sticky-note {
	position: absolute;
}
.sticky-note .title {
	background-transparent;
	border: none;
	display: block;
	font-size: 20px;
	font-weight: bold;
}
.sticky-note .body {
	background: transparent;
	border: none;
	display: block;
}
body {
	background: url(corkbg.jpg);
}
#title {
	color: #fff;
	font-family: sans-serif;
	text-align: center;
}
#title h1 {
	font-size: 4em;
}
#createButton {
	text-align: center;
	margin: 0 auto;
}