.axis path,
  .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
  }
.line {
	fill: none;
	stroke: #4682b4;
	stroke-width: 1.5px;
	}
.axis text {
      font-family: sans-serif;
      font-size: .75em;
  }
#title h1{
	text-align: center;
	font-family: sans-serif;
  font-size: 1.5em;
}
.cite {
  font-size: .6em;
}