<html>
<head>
	<title>Chat Room</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/index.js"></script>
</head>
	<body>
		<div id="wrapper">
			<div id="title">
				<h1>Chat Room</h1>
			</div>
			<div id="chatRoom">
				<div id="chooseName">
					Your name: <input id="name" type="text" value="Anonymous"></input><br>
				</div>
				<div class="inlineBlock" id="messageContainer">
					<form id="messageForm">
						<textarea id="outgoingMessage" rows="4" cols="60" placeholder="Say something!" maxlength="200"></textarea>
					<input id="send" type="button" value="Send" disabled="true"></input>
					</form>
				</div>
				<div class="inlineBlock peopleContainer">
					<b id="peopleHereText">People Here</b>
					<br>
					<div id="participants"></div>
				</div>
				<div id="messages"></div>
			</div>
		</wrapper>

	</body>
</html>