<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<link rel="stylesheet" href="/css/vote/voteStyle.css">
	<script src="/js/socket.io.min.js"></script> 
	<script src="/js/vote/d3module.js"></script>
	<script src="/js/vote/voteClient.js"></script>
	<!-- <script src="/js/gAnalytics.js"></script>  -->
</head>
<body ng-app="app" ng-controller="MainCtrl">

		<div>
			<span ng-model="data.vote">{{data.vote}}</span>
			<button ng-click="addVote()">Add</button>
		</div>

		<div class="inline" ng-repeat="color in colors">
			<div class="squares" style="background-color: {{color}}" ng-click="vote($index)"></div>
		</div>

		<graph data="data.colors"></graph>
	

</body>