<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet" href="/css/timed/timedStyle.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/timed/bootstrap.min.css">
</head>
<body>
	<div class="text-center"><h1>Zombies</h1></div>
	<ng-view></ng-view>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.2.7/angular-route.min.js"></script>
	<script src="/bower_components/angular-timer/app/js/timer.js"></script>
	<script src="/js/socket.io.min.js"></script> 
	<script src="/js/timed/timedApp.js"></script>
	<script src="/js/timed/timedControllers.js"></script>
	<script src="/js/timed/timedDirectives.js"></script>
	<script src="/js/timed/timedServices.js"></script>
	<script src="/js/gAnalytics.js"></script> 
</body>
</html>