
body {
	width: 1000px;
	margin: 0 auto;
}
#box1 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #66A3D2;
	transition: background-color 3s ease;
}
#box1:hover {
	background-color: white;
}
#box2 { 
	position: relative;
	width: 200px;
	height: 200px;
	left: 200px;
	top: -200px;
	background: #3F92D2;
	transition: background-color 3s ease;
}
#box2:hover {
	background-color: white;
}
#box3 { 
	position: relative;
	width: 200px;
	height: 200px;
	left: 400px;
	top: -400px;
	background: #033E6B;
	transition: background-color 3s ease;
}
#box3:hover {
	background-color: white;
}

#box4 { 
	position: relative;
	width: 200px;
	height: 200px;
	left: 600px;
	top: -600px;
	background: #25567B;
	transition: background-color 3s ease;
}
#box4:hover {
	background-color: white;
}
#box5 { 
	position: relative;
	width: 200px;
	height: 200px;
	left: 800px;
	top: -800px;
	background: #0B61A4;
	transition: background-color 3s ease;
}
#box5:hover {
	background-color: white;
}

#box6 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -800px;
	background: #61D7A4;
	transition: background-color 3s ease;
}
#box6:hover {
	background-color: white;
}

#box7 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -1000px;
	left: 200px;
	background: #36D792;
	transition: background-color 3s ease;
}
#box7:hover {
	background-color: white;
}
#box8 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -1200px;
	left: 400px;
	background: #007241;
	transition: background-color 3s ease;
}
#box8:hover {
	background-color: white;
}
#box9 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -1400px;
	left: 600px;
	background: #218359;
	transition: background-color 3s ease;
}
#box9:hover {
	background-color: white;
}
#box10 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -1600px;
	left: 800px;
	background: #00AF64;
	transition: background-color 3s ease;
}
#box10:hover {
	background-color: white;
}
#box11 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -1600px;
	background: #FFC373;
	transition: background-color 3s ease;
}
#box11:hover {
	background-color: white;
}
#box12 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -1800px;
	left: 200px;
	background: #FFAD40;
	transition: background-color 3s ease;
}
#box12:hover {
	background-color: white;
}
#box13 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -2000px;
	left: 400px;
	background: #A65F00;
	transition: background-color 3s ease;
}
#box13:hover {
	background-color: white;
}
#box14 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -2200px;
	left: 600px;
	background: #BF8230;
	transition: background-color 3s ease;
}
#box14:hover {
	background-color: white;
}
#box15 { 
	position: relative;
	width: 200px;
	height: 200px;
	top: -2400px;
	left: 800px;
	background: #FF9200;
	transition: background-color 3s ease;
}
#box15:hover {
	background-color: white;
}
