<html>
	<head>
		<link rel="stylesheet" href="/css/letitbeStyle.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/letitbe/letitbeClient.js"></script>
		<!-- // <script src="/js/gAnalytics.js"></script> -->
	</head>
	<body>
	<textarea id="wisdom" cols="60" rows="2" maxlength="140"placeholder="Spread the love!"></textarea>
	<button id="send">Add</button>

	</body>
</html>