<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/letitbeStyle.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/letitbe/letitbeClient.js"></script>
		<script src="/js/gAnalytics.js"></script>
	</head>
	<body>
			<div id="links">  <a href="../letitbe/add">Add words of love!</a></div>
			<br>
			<div id="title">
				<a href="../letitbe"><h1>Let it Be</h1></a>
				<h3>Spreading love in times of need</h3>
			</div>
			<div id="addArea">
				<textarea id="wisdom" cols="60" rows="2" maxlength="140"placeholder="Spread the love!"></textarea>
				<button id="send">Add piece of wisdom</button>
				<div id="thank"></div>
			</div>
	</body>
</html>