<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/ig/igStyle.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> 
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/ig/igClient.js"></script>
	<!--  <script src="/js/gAnalytics.js"></script>   -->
</head>
<body>
	<div id="center">
		<div id="title">~*Selfie Nation*~</div>
		<div id="info">Whenever someone posts a #selfie on instagram, Instagram sends an update to my webserver.  Then, 1/10 show up here.  (There's too many to show!)</div>
		<div id="imageContainer"></div>
	</div>
</body>
</html>