<!DOCTYPE html>
<html>
<head>
	<title>X tables</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>

<body>
	<div ng-app="">
		<form ng-controller="multiplication">
			1 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result1}} 	
			<br>	
			2 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result2}} 	
			<br>	
			3 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result3}} 	
			<br>	
			4 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result4}} 	
			<br>	
			5 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result5}} 	
			<br>	
			6 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result6}} 	
			<br>	
			7 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result7}} 	
			<br>	
			8 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result8}} 	
			<br>	
			9 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result9}} 	
			<br>	
			10 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result10}} 	
			<br>	
			11 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result11}} 	
			<br>	
			12 x : <input ng-change="times()" ng-model="table.startNum">
			equals {{table.result12}} 	
			<br>	
		</form> 
	</div>

	</div>

</body>

</html>